/* Ghetto reset */
* {
  margin: 0;
  padding: 0;
}

/* Basics */
body {
  background: #f4f4f4;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 0;
  margin: 0;
}

/* UI */
a {
  color: #666;
  font-weight: bold;
  text-decoration: none;
}
  a:hover {
    text-decoration: underline;
  }
.button {
  display: inline-block;
  margin: 0.4em;
  font-size: 1.25em;
  padding: 0.5em 1em;
  border-radius: 4px;
  color: #000;
  border: 1px solid #000;
}
  .button:hover, .button-hover {
    cursor: pointer;
    text-decoration: none;
    background: #fff;
  }
  .button-green {
    color: #5cb85c;
    border-color: #5cb85c;
  }

.header {
  background: white url('../img/taswell.jpg') center center no-repeat;
  text-align: center;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1em;
  padding-top: 5em;
  overflow: hidden;
}
  .header h1 {
    padding-top: 0.1em;
    border-top: 1px solid #ccc;
    background: rgba(255, 255, 255, 0.75);
    font-size: 5em;
    line-height: 0.7;
    font-weight: 300;
    color: #333;
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
    word-spacing: 0;
  }
  @media screen and (max-width: 37.5em) {
    .header h1 {
      font-size: 3em;
    }
  }

.main {
  max-width: 800px;
  padding: 0 1em;
  margin: 0 auto;
}

.tagline {
  padding: 1em;
  text-align: center;
}
  .tagline p {
    font-size: 1.25em;
  }

.settings {
  text-align: center;
  font-size: 1.25em;
}
  .settings label {
    display: block;
    margin: 0 0 1em 0;
    font-style: italic;
  }
  .settings input[type="text"] {
    background: #fff;
    border: 0;
    outline: 0;
    padding: 0.2em;
    font-size: 1.5em;
    width: 2.5em;
    text-align: center;
    border-bottom: 3px dotted #ccc;
    margin: 0 0.5em;
  }
    .settings input[type="text"]:focus {
      border-color: #000;
    }

#results {
  padding-top: 1em;
}
  #results p {
    line-height: 1.4em;
    margin-bottom: 1em;
  }
  @media screen and (min-width: 48em) {
    #results p {
      font-size: 1.5em;
    }
  }

.footer {
  text-align: center;
  padding: 1em;
}
  .footer p {
    font-size: 0.8em;
  }