* {
  margin: 0;
  padding: 0;
}

body {
  background: #f4f4f4;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 0;
  margin: 0;
}

.link {
  color: #666;
  font-weight: bold;
  text-decoration: none;
}

  .link:hover {
    text-decoration: underline;
  }

.button {
  display: inline-block;
  margin: 10px;
  font-size: 24px;
  font-weight: bold;
  padding: 12px 24px;
  border-radius: 4px;
  color: #000;
  border: 1px solid #000;
}

  .button:hover {
    cursor: pointer;
    text-decoration: none;
    background: #fff;
  }

  .button--highlight {
    color: #5cb85c;
    border-color: #5cb85c;
  }

.header {
  background: #fff url('../img/taswell.jpg') center center no-repeat;
  text-align: center;
  border-bottom: 1px solid #ccc;
  margin-bottom: 16px;
  padding-top: 80px;
  overflow: hidden;
}

  .header__title {
    padding-top: 8px;
    border-top: 1px solid #ccc;
    background: rgba(255, 255, 255, 0.75);
    font-size: 80px;
    line-height: 0.7;
    font-weight: 300;
    color: #333;
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
    word-spacing: 0;
    cursor: default;
  }

    @media screen and (max-width: 37.5em) {
      .header__title {
        font-size: 48px;
      }
    }

.container {
  max-width: 800px;
  padding: 0 16px;
  margin: 0 auto;
}

.tagline {
  padding: 16px;
  text-align: center;
  font-size: 20px;
}

.options {
  text-align: center;
  font-size: 20px;
}

  .options__label {
    display: block;
    margin: 0 0 16px 0;
    font-size: 16px;
  }

  .options__text {
    font-family: 'Source Sans Pro', sans-serif;
    background: #fff;
    border: 0;
    outline: 0;
    padding: 5px 0;
    font-size: 24px;
    width: 60px;
    text-align: center;
    border-bottom: 3px dotted #ccc;
    margin: 0 12px 0 0;
  }

    .options__text:focus {
      border-color: #000;
    }

  .options__checkbox {
    font-size: 24px;
    margin-right: 12px;
  }

.results {
  padding-top: 16px;
  line-height: 1.4;
  margin-bottom: 16px;
}

  @media screen and (min-width: 48em) {
    .results {
      font-size: 24px;
    }
  }

.footer {
  text-align: center;
  padding: 16px;
  font-size: 13px;
}
